<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>LinkedIn Profiles</title>
        <link rel="stylesheet" type="text/css" href="../libs/materialize/dist/css/materialize.min.css" />
    </head>
    <body>
        <div class="container" ng-controller="ProfilesCtrl">
            <div class="input-field row">
                <div class="col s12">
                    <input ng-model="searchText" id="search" type="text"/>
                    <label for="search">Search profile</label>
                </div>
            </div>
            <ul>
                <li ng-repeat="profile in filteredProfiles" class="collection-item avatar srwe">
            	   <profile  profile="profile"></profile>
                </li>
            </ul>

            <button class="waves-effect waves-light btn" ng-click="backupContent()">Backup Content</button>
            <button class="waves-effect waves-light btn" ng-click="backup.show = !backup.show">Upload Backup</button>
            <div ng-if="backup.show">
              <textarea ng-model="backup.data"></textarea>

              <button class="waves-effect waves-light btn red" ng-click="restore()">Restore Backup</button>
            </div>
        </div>
        <script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
        <script src="../libs/materialize/dist/js/materialize.min.js"></script>
        <script src="../libs/angular/angular.min.js"></script>
         <script src="../libs/lodash/lodash.min.js"></script>
        <script src="app.js"></script>
        <script src="directives.js"></script>
        <script src="services.js"></script>
        <script src="controllers.js"></script>
    </body>
</html>
